<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>SMS</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <ion-card>
    <ion-card-header color="primary">
      <ion-card-title>
        SMS Sample
      </ion-card-title>
    </ion-card-header>
    <ion-card-content color="secondary">
      <form [formGroup]="smsForm">
        <ion-item>
          <ion-label position="floating">Enter Mobile No.</ion-label>
          <ion-input formControlName="mobileno" type="text"></ion-input>
        </ion-item>
        <div class="error_messages">
          <ng-container *ngFor="let error of error_messages.mobileno">
            <div
              class="error-message"
              *ngIf="
                smsForm.get('mobileno').hasError(error.type) &&
                (smsForm.get('mobileno').dirty ||
                  smsForm.get('mobileno').touched)
              "
            >
              {{ error.message }}
            </div>
          </ng-container>
        </div>
        <ion-item>
          <ion-label position="floating">Enter Message</ion-label>
          <ion-textarea formControlName="message" type="text"></ion-textarea>
        </ion-item>
        <div class="error_messages">
          <ng-container *ngFor="let error of error_messages.message">
            <div
              class="error-message"
              *ngIf="
                smsForm.get('message').hasError(error.type) &&
                (smsForm.get('message').dirty || smsForm.get('message').touched)
              "
            >
              {{ error.message }}
            </div>
          </ng-container>
        </div>
        <ion-button [disabled]="!smsForm.valid" expand="full" (click)="send()"
          >Send</ion-button
        >
      </form>
    </ion-card-content>
  </ion-card>
</ion-content>
